$nav-gen-color : #cfcfd8;
$heading-btn : #6c5edf;
$light : #fff;
$menu-hov-color:#ff7ba4;
$national-color:#7336f1;
$feature-bg: #fcfcfc;
$border_color: #878991;
$pricing_header:#f6f2fe;
$gradient_color: #ff99a5;
$text_color: #222;
$mid_light:#f2f2f2;